<%= link_to user_post_path(post.author_id, post.id) do %>

<div class="post-card">
  <h3><%= post.title %></h3>
  <p><%= post.text[0, 200] %>...</p>
  <div class="post-counters" >
    <span>Likes: <%= post.likes_counter %></span>,
    <span>Comments: <%= post.comments_counter %></span>
  </div>
</div>

<% end %>