<article>
  <section class="main-post">
    <h1><%= @post.title %> by <%= User.find(@post.author_id).name %></h1>
    <div class="post-counters">
      <span>Likes: <%= @post.likes_counter%></span>
      <span>Comments: <%= @post.comments_counter%></span>
    </div>
    <p><%= @post.text %></p>
  </section>

  <section class="comments-section">
  <h2>Comments: </h2>
  <ul class="comments-list">
  <% @comments.each do |comment| %>
    <li>
    <%= render partial: "partials/comment", locals: {comment: comment} %>
    </li>
  <% end %>
  </ul>

  </section>
</article>
